version: '3.8'

services:
  # --- O NÓ COORDENADOR ---
  coordinator:
    build: .
    command: ["python3", "src/coordenador/main.py"]
    ports:
      - "8000:8000"
    environment:
      - HOST_IP=192.168.1.100

  # --- SUPERNÓ 1 (LAB 1) ---
  supernode-1:
    build: .
    command: ["python3", "src/supernode/main.py", "8001"]
    ports:
      - "8001:8001"
    environment:
      - HOST_IP=192.168.1.100
      - COORDINATOR_IP=192.168.1.100
      - COORDINATOR_PORT=8000
    depends_on:
      - coordinator

  # --- Clientes do Supernó 1 ---
  client-1.1: &client-sn1 # Define uma âncora YAML para reutilizar
    build: .
    command: ["python3", "src/client/main.py"]
    environment:
      - HOST_IP=192.168.1.100
      - SUPERNODE_IP=192.168.1.100
      - SUPERNODE_PORT=8001
    depends_on:
      - supernode-1
  client-1.2:
    <<: *client-sn1 # Reutiliza a configuração
  client-1.3:
    <<: *client-sn1 # Reutiliza a configuração

  # --- SUPERNÓ 2 (LAB 1) ---
  supernode-2:
    build: .
    command: ["python3", "src/supernode/main.py", "8002"]
    ports:
      - "8002:8002"
    environment:
      - HOST_IP=192.168.1.100
      - COORDINATOR_IP=192.168.1.100
      - COORDINATOR_PORT=8000
    depends_on:
      - coordinator

  # --- Clientes do Supernó 2 ---
  client-2.1: &client-sn2
    build: .
    command: ["python3", "src/client/main.py"]
    environment:
      - HOST_IP=192.168.1.100
      - SUPERNODE_IP=192.168.1.100
      - SUPERNODE_PORT=8002
    depends_on:
      - supernode-2
  client-2.2:
    <<: *client-sn2
  client-2.3:
    <<: *client-sn2